<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--html은 위에서부터 코드가 실행되기 때문에 head가 다 실행되고서야 body가 실행됨. js용량이 크면 클수록 실행이 느려지므로 하단에 위치, css는 화면을 그리는 역할이므로 head에서 불러옴-->
<!--bootstrap은 제이쿼리가 있어야 하기 때문에 부트스트랩보다 먼저 호출되도록 코드 작성-->

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>
</body>
</html>